@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
.carousel-item {
    height: 728px;
}

a{
    text-decoration: none;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1100px !important;
}  
}


.nav-link {
        font-family: "BPG Nino Mtavruli";
        font-weight: bold;
        font-size: 17px;
        color: #6b6b6b;
}

.dropdown-toggle::after {
    display: none;
 
}

.subnav{
    background-color: #404040cf;
    padding-top: 9px;
    position: absolute;
    width: 100%;
    padding-bottom: 8px;
    z-index: 99;
}

.subnav::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #6b6b6bc9;
}

.subnav .list-inline-item:not(:last-child) {
    margin-right: 25px;
}

.navbar{
    position: absolute;
    top: 2.65rem;
    z-index: 99;
    padding: 18px 0 7px;
}

.navbar::before{
 content: "";
 position: absolute;
 bottom: -2px;
 width: 100%;
 height: 1px;
 background-color: #fff;
}

.subnav ul li a, .lang a {
    font-size: 15px;
    color: #ffffff;
    font-family: "BPG Nino Mtavruli";
}

img[src="img/icon/1.png"]{
    position: relative;
    top: -8px;
    left: 9px;
}

#dogs{
    bottom: 3px;
    position: relative;
}

.nav-link img {
    padding-right: 12px;
}

@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.2rem;
    padding-left: 1.2rem;
}
}


.dropdown-menu {
    left: 29px !important;
    min-width: 17.1rem;
    padding: 0;
    border: 1px solid #b5beb9;
    border-radius: 3px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    margin-top: 9px !important;
}

.dropdown-menu::before {
    content: "";
    height: 3px;
    position: absolute;
    width: 45%;
    background-color: #df2335;
    left: 0;
    top: -5px;
}

.dropdown-menu li a {
    font-family: "BPG Arial", sans-serif;
    font-size: 14px;
    padding: 13px 18px 15px 18px;
    color: #4b4b4b;
    border-bottom: 1px solid #c3cbcc;
}

.dropdown-menu li:last-child a {
 
    border-bottom: none;
}

.carousel-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caruseltext h5{
     color: #fff;
     margin-bottom: 18px;
     font-size: 24px;
     font-family: "BPG Nino Mtavruli";
}

.caruseltext p{
    color: #fff;
    font-size: 17px;
    font-family: "BPG Arial", sans-serif;
}

.caruseltext a{
    color: #fff;
    font-size: 17px;
    background-color: #e23848;
    padding: 15px 34px 9px;
    margin-top: 30px;
    display: inline-block;
    font-family: "BPG Nino Mtavruli";
}

footer img {
    height: 110px;
    width: 100%;
    border-radius: 1px;
    padding: 7px;
    margin-bottom: 30px;
    border: 1px solid #d2d2d2;
}


@media (max-width:1200px){
   .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
} 
}


@media (max-width:800px) {
    footer img {
        height: 150px;
        object-fit: contain;
    }

    .carousel-inner ~ button{
        display: none;
    }
}

@media (max-width:1300px) {
 
    .navbar , .subnav{
   position: relative;
   top: 0;
    }

    .dropdown-menu {
 

        min-width: 12rem;

    }
}